
a.white:hover {
    font-family: "宋体";
    font-size: 10pt;
    color: #906B37;
    text-decoration: underline;
}
a.white {
    font-family: "宋体";
    font-size: 10pt;
    color: #FFFFFF;
    filter: DropShadow(Color=#eeeeee, OffX=1, OffY=1, Positive=2);
    text-decoration: none;
}
a.white:link {
    font-family: "宋体";
    font-size: 10pt;
    color: #FFFFFF;
    filter: DropShadow(Color=#0000FF, OffX=1, OffY=1, Positive=2);
    text-decoration: none;
} 
a.white:hover {
    font-family: "宋体";
    font-size: 10pt;
    color: #FFFFFF;
    text-decoration: underline;

}.border {
	border: 1px solid #D0D0D0;
}
.ziti {
	font-family: "宋体";
	font-size: 12px;
	line-height: 20px;
}
.table_border_shangxia {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #D0D0D0;
	border-right-color: #D0D0D0;
	border-bottom-color: #D0D0D0;
	border-left-color: #D0D0D0;
}
a.we:hover {
    font-family: "宋体";
    font-size: 9pt;
    color: #990000;
    text-decoration: underline;
}
a.we {
    font-family: "宋体";
    font-size: 9pt;
    color: #990000;
    filter: DropShadow(Color=#eeeeee, OffX=1, OffY=1, Positive=2);
    text-decoration: none;
}
a.we:link {
    font-family: "宋体";
    font-size: 9pt;
    color: #990000;
    filter: DropShadow(Color=#0000FF, OffX=1, OffY=1, Positive=2);
    text-decoration: none;
} 
a.we:hover {
    font-family: "宋体";
    font-size: 9pt;
    color: #990000;
    text-decoration: underline;