*{margin:0 auto;list-style:none;}
@charset "utf-8";
.clear { clear:both;}
body{
	font-family:"Î¢ÈíÑÅºÚ";
	background:url(../images/bg1.jpg);
	background-position:center;
	background-attachment:fixed;
	background-size:100% auto;
	line-height: 30px;
}
h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-family: "Î¢ÈíÑÅºÚ";
	font-weight: normal;
	color: #181818;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #B94E0E;
}

a:hover {
}

#wrapper{width:1000px;padding:20px;height:auto;background:#fff;background-color:rgba(255,255,255,0.8);-moz-border-radius:20px;height:auto;margin-top:50px;margin-right:auto;margin-bottom:10px;margin-left:auto}


#header-wrapper {
}


#header {
	width: 1000px;
	height: 30px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	background-repeat: no-repeat;
	background-position: left top;
}



#logo {
	float: left;
	height: 160px;
	margin: 0;
	padding: 0px;
	color: #FFFFFF;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
}

#logo h1 {
	float: left;
	padding-left: 25px;
	letter-spacing: -1px;
	text-transform: lowercase;
	font-size: 2.6em;
}

#logo p {
	float: left;
	margin: 0;
	padding: 12px 0 0 10px;
	font: normal 14px "Î¢ÈíÑÅºÚ", "Times New Roman", Times, serif;
	font-style: italic;
} 

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #FFFFFF;
}



#search {
	float: right;
	width: 279px;
	height: 110px;
	padding: 0;
}

#search form {
	height: 41px;
	margin: 0;
	padding: 10px 0 0 30px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 195px;
	padding: 6px 10px;
	border: 1px #4C4842 solid;
	background: none;
	text-transform: lowercase;
	font: normal 11px "Î¢ÈíÑÅºÚ", Helvetica, sans-serif;
	color: #808080;
}

#search-submit {
	display: none;
}



#menu {
	float: left;
	width: 1000px;
	height: 36px;
	background-color: #333333;
	background-image: url(../images/img02.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	display: block;
	float: left;
}

#menu a {
	display: block;
	float: left;
	width: 125px;
	height: 22px;
	background: url(../images/img04.gif) no-repeat left top;
	text-decoration: none;
	text-align: center;
	text-transform: capitalize;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

#menu a:hover { 
	background: url(../images/img03.gif) no-repeat left top;
	text-decoration: none; 
}

#menu .current_page_item a {
	background: url(../images/img03.gif) no-repeat left top;
}

#menu .first {
}



#page {
	width: 1000px;
	padding: 0;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	background-color: #FFFFFF;
	background-repeat: repeat-y;
	background-position: left top;
}

#page-bgtop {
}

#page-bgbtm {
	padding: 30px 20px 0px 20px;
}


#content {
	float: left;
	width: 960px;
	padding: 0;
	background-color: #FFFFFF;
}

.post {
}

.post .title {
	height: 38px;
	letter-spacing: -.5px;
	color: #181818;
	margin-bottom: 20px;
	padding-top: 12px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 20px;
}

.post .title a {
	color: #181818;
	border: none;
}

.post .meta {
	margin-top: -10px;
	padding-bottom: 5px;
	padding-left: 20px;
	text-align: left;
	font-family: "Î¢ÈíÑÅºÚ", Helvetica, sans-serif;
	font-size: 11px;
	font-style: italic;
}

.post .meta a {
}

.post .entry {
	text-align: justify;
	margin-bottom: 25px;
	padding: 30px 20px 10px 20px;
}

.links {
	display: block;
	width: 130px;
	margin: 20px 0px;
	padding: 5px;
	background: #A03128;
	border-left: 20px solid #1B120B;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	color: #FFFFFF;
}



#sidebar {
	float: right;
	width: 250px;
	padding: 10px 0px 0px 0px;
	color: #787878;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin: 0px 15px;
	padding-bottom: 30px;
}

#sidebar li li {
	line-height: 35px;
	border-bottom: 1px dashed #D1D1D1;
	padding-left: 15px;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar h2 {
	height: 38px;
	padding: 12px 0 0 15px;
	letter-spacing: -.5px;
	color: #181818;
}

#sidebar p {
	margin: 0 0px;
	padding: 0px 20px 20px 20px;
	text-align: justify;
}

#sidebar a {
	border: none;
	color: #B94E0E;
}

#sidebar a:hover {
	text-decoration: underline;
}



#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}



#footer-wrapper {
	width: 100%;
	background: #231202;
}

#footer {
	width: 1000px;
	height: 100px;
	font-family: "ËÎÌå";
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding-top: 0px;
	padding-right: 0;
	padding-bottom: 15px;
	padding-left: 0;
	background-repeat: repeat-x;
	background-position: left top;
	color: #FFFFFF;
}

#footer p {
	margin: 0;
	padding-top: 40px;
	line-height: normal;
	font-size: 9px;
	text-transform
	
	: uppercase;
	text-align: center;
	color: #D78983;
}

#footer a {
	color: #FFDBD9;
}
.logotu {
	text-align: center;
	height: 201px;
	width: 1000px;
}
.entry p {
	text-align: justify;
	text-indent: 2em;
}
.dhimg {
	float: right;
	margin-left: 10px;
}
.entry-bgbtm object {
	float: left;
	margin-right: 10px;
}
.flash {
	float: left;
	height: 200px;
	width: 300px;
	margin-bottom: 20px;
	margin-left: 20px;
}
.flashwz {
	padding: 20px;
	float: right;
	height: 200px;
	width: 560px;
}
.flashbox {
	height: 220px;
}
